@use "sass:color";
@import "../abstracts/colors";


form.contact {
  display: grid;
  grid-auto-rows: min-content;
  row-gap: 10px;
  column-gap: 5px;

  a {
    text-align: center;
    grid-column-start: 1;
    grid-column-end: -1;
  }
}

@media screen and (min-width: 769px) { /* laptop */
  form.contact {
    display: grid;
    grid-template-columns: min-content 1fr;
    max-width: 700px;

    p {
      grid-column-start: 1;
      grid-column-end: -1;
    }
  }
}



