<aside th:fragment="aside">
    <div class="counters">
        <p>Επισκέψεις Σελίδας: <span th:text="${pageVisits}"></span></p>
        <p>Συνολικές Επισκέψεις: <span th:text="${@totalVisitsCounter.value}"></span></p>
    </div>
    <div class="flipping-card">
        <div class="offer">
            <div class="image"><img th:src="@{/images/boureki.jpg}" /></div>
            <div class="price"><span class="old_price">40&euro;</span>36&euro;</div>
            <h3>Απίστευτη Προσφορά</h3>
            <p>Στις 10 σπανακόπιτες η μία δώρο</p>
            <p>(μόνο για συστηματικούς πελάτες)</p>
            <button>Αγόρασε τώρα!</button>
        </div>
        <div class="front">
            <div class="item"><span>Μοναδική Προσφορά Ημέρας</span></div>
        </div>
    </div>
</aside>