<footer th:fragment="footer" >

    <div class="first-column">
        <h3>&copy; Οι Πίτες του Πίτου 2026</h3>
        <p><a th:href="@{/attr}">Attribution πολυμέσων</a></p>
    </div>
    <div class="second-column">
        <h3>Social Media</h3>
        <div class="social">
            <div class="twitter"><img th:src="@{/images/twitter.png}" alt="twitter"></div>
            <div class="facebook"><img th:src="@{/images/facebook.png}" alt="facebook"></div>
            <div class="linkedin"><img th:src="@{/images/linkedin.png}" alt="linkedin"></div>
            <div class="instagram"><img th:src="@{/images/instagram.png}" alt="instagram"></div>
        </div>
    </div>
    <div class="third-column">
        <h3>Κοινωνική Ευθύνη</h3>
        <p>Καμία απολύτως</p>
    </div>
    <div class="design"><p>Σχεδίαση: Nikwilldoit Ltd.</p></div>

</footer>