<!DOCTYPE html>
<html lang="gr"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head}"> </head>

<body>
  <div class="container">
    <header th:replace="~{fragments/header :: header(extended=false)}"> </header>

    <main>
      <h1>Attribution πολυμέσων:</h1>
      <article>
        <ul>
          <li>
            Εικόνες:
              <ul>
                <li>Social media: <a href="https://www.freepik.com"  target="_blank">freepik</a></li>
                <li>Cook: <a href="https://toppng.com/show_download/229146/eople-cooking/large" target="_blank">toppng</a></li>
                <li>Logo: <a href="https://www.pngwing.com/en/free-png-ndkox" target="_blank">pngwing</a> </li>
                <li><a href="https://www.pinterest.es/bellatrixdorta/lunch/" target="_blank">Σπανακόπιτα</a> </li>
                <li><a href="https://www.freepik.com/free-photo/cooked-vegetable-cake_984052.htm#query=greek%20pie&position=2&from_view=keyword" target="_blank">Πρασόπιτα</a> </li>
                <li><a href="https://www.freepik.com/free-photo/apple-pie_964323.htm#page=6&query=apple%20pie%20slice&position=47&from_view=keyword" target="_blank">Μπουρέκι</a> </li>
              </ul>
          </li>
        </ul>
      </article>

      <aside th:replace="~{fragments/aside :: aside}"> </aside>
    </main>

    <footer th:replace="~{fragments/footer :: footer}"> </footer>
  </div>
</body>


</html>
