<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Psounis Spring Tutorial</title>
</head>
<body>
<h1> The Cart </h1>
<table border="1">
    <thead>
    <tr>
        <th>Προϊόν</th>
        <th>Τεμάχια</th>
        <th>Τιμή / Τμχ</th>
        <th>Συνολική Τιμή</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="cartItem: ${@cart.cart}">
        <td th:text="${cartItem.key.name}"></td>
        <td>
            <form th:action="@{'/cart/set'}" method="POST">
                <input type="hidden" name="productId" th:value="${cartItem.key.id}">
                <input type="number" minlength="1" maxlength="10" name="quantity"  th:value="${cartItem.value}">
                <input type="submit" value="Ενημέρωση">
            </form>
        </td>
        <td th:text="${cartItem.key.price}"></td>
        <td th:text="${#numbers.formatDecimal(cartItem.key.price * cartItem.value, 1, 2)}"></td>

        <td>
            <form th:action="@{'/cart/remove'}" method="POST">
                <input type="hidden" name="productId" th:value="${cartItem.key.id}">
                <input type="submit" value="Διαγραφή">
            </form>
        </td>
    </tr>
    </tbody>
    <tfoot>
    <tr>
        <td colspan="4" th:text="${'Σύνολο: ' + #numbers.formatDecimal(totalPrice, 1, 2)}"></td>
    </tr>
    </tfoot>
</table>
</body>
</html>