<!DOCTYPE html>
<html lang="gr"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head}"></head>


<body>
<div class="container">
    <header th:replace="~{fragments/header :: header(extended=true)}"></header>

    <main>

        <section class="welcome">
            <div class="welcome-content">
                <h1>Καλησπέρα και καλώς ήρθατε!</h1>

                <p>
                    Ανακαλύψτε τις υπέροχες πίτες μας και βρείτε
                    την αγαπημένη σας.
                </p>

                <a class="welcome-button" th:href="@{/pies}">
                    Δες όλες τις πίτες μας
                </a>
            </div>

            <div class="welcome-image-wrapper">
                <img class="welcome-image"
                     src="/images/logo.png"
                     alt="Το λογότυπό μας"/>
            </div>
        </section>

    </main>


    <footer th:replace="~{fragments/footer :: footer}"></footer>
</div>
</body>


</html>