<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Pitos pies</title>

    <link rel="stylesheet" href="/styles/style.css">
</head>
<body>

    <h1>Μάθημα 8.1: Custom Form Auth</h1>

    <div class="slide">
        <h2>Links:</h2>
        <ul>
            <li><a href="/welcome">/welcome</a></li>
            <li><a href="/register">/register</a></li>
            <li><a href="/login">/login</a></li>
            <li><a href="/do-logout">/do-logout</a></li>
            <li><a href="/admin-page">/admin-page</a></li>
            <li><a href="/user-page">/user-page</a></li>
        </ul>
    </div>


</body>
</html>

