<!DOCTYPE html>
<html lang="gr"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head}"> </head>


<body>
<div class="container">
    <header th:replace="~{fragments/header :: header(extended=true)}"> </header>

    <main>
        <h1>Αρχική Σελίδα</h1>
        <article>
            <h2>Φωτογραφία</h2>
            <p>Καλωσόρισμα</p>
        </article>

        <aside th:replace="~{fragments/aside :: aside}"> </aside>
    </main>

    <footer th:replace="~{fragments/footer :: footer}"> </footer>
</div>
</body>


</html>
