<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>The page</title>
</head>

<body>
<h2>Login</h2>
<form th:action="@{/login}" method="POST">
    <div>
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" value="psounis" required>
    </div>
    <div>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" value="123456" required>
    </div>
    <button type="submit">Login</button>
</form>

</body>
</html>