<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Spring Tutorial</title>
</head>
<body>

<p>Array</p>
<ul>
    <li th:each="item : ${array}">
        <th:block th:utext="${item}"></th:block>
    </li>
</ul>

<p>List</p>
<ul>
    <li th:each="item : ${#numbers.sequence(1, 10, 2)}">
        <th:block th:utext="${item}"></th:block>
    </li>
</ul>

<p>Map</p>
<ul>
    <li th:each="item : ${map}">
        <th:block th:utext="${item.key}"></th:block>,
        <th:block th:utext="${item.value}"></th:block>
    </li>
</ul>

</body>
</html>