<!DOCTYPE html>
<html lang="gr"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head}"></head>


<body>
<div class="container">
    <header th:replace="~{fragments/header :: header(extended=false)}"></header>

    <main>
        <h1 th:text="${pie.name}"></h1>

        <div class="pie">
            <img th:src="@{'/images/' + ${pie.filename}}" th:alt="'Εικόνα - ' + ${pie.name}" />
            <p>Υλικά: <th:block th:text="${#strings.listJoin(pie.ingredients, ', ')}"></th:block>
            </p>
            <p th:if="${pie.awards.size()>0}">Βραβεία:
            <ul>
                <li th:each="award: ${pie.awards}" th:text="${award}">
                </li>
            </ul>
            </p>
            <p>Τιμή: <span th:text="${pie.price}"></span>&euro;</p>

            <form th:action="@{'/pies/' + ${pie.id}}" method="POST" class="form buy">
                <label for="num">Προσθήκη στην Παραγγελία: </label>
                <input type="number" id="num" min="0" max="100" name="quantity" th:value="${@sessionData.getOrder().get(pie.id)}">

                <div class="buttons">
                    <input type="submit" value="Αποστολή">
                    <input type="reset" value="Καθαρισμός">
                </div>
            </form>

        </div>

        <aside th:replace="~{fragments/aside :: aside}"></aside>

    </main>

    <footer th:replace="~{fragments/footer :: footer}"></footer>

</div>
</body>


</html>