<!DOCTYPE html>
<html lang="gr"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head}"></head>


<body>
<div class="container">
  <header th:replace="~{fragments/header :: header(extended=false)}"></header>

  <main>
    <h1>Οι Πίτες</h1>
    <article>
      <table class="table-pies">
        <caption>Οι πίτες μας</caption>
        <thead>
        <tr>
          <th></th>
          <th>Πίτα</th>
          <th>Τιμή/τμχ</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="pie: ${pies}">
          <td>
            <a th:href="@{'/pies/' + ${pie.id}}">
              <img th:src="@{'/images/' + ${pie.filename}}" th:alt="'Εικόνα - ' + ${pie.name}" />
              <span th:text="${pie.name}"></span>
            </a>
          </td>
          <td><a th:href="@{'/pies/' + ${pie.id}}" th:text="${pie.name}"></a></td>
          <td th:text="${pie.price} + '€'"></td>
        </tr>
        </tbody>
      </table>
    </article>

    <aside th:replace="~{fragments/aside :: aside}"></aside>

  </main>

  <footer th:replace="~{fragments/footer :: footer}"></footer>
</div>
</body>


</html>