<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>PRODUCTS</title>
</head>

<body>
  <h1> The Product </h1>
  <ul>
    <li th:text="'Name: ' + ${product.name}"></li>
    <li th:text="'Price: ' + ${product.price}"></li>
  </ul>
  <form th:action="@{'/cart/add'}" method="POST">
    <input type="hidden" name="productId" th:value="${product.id}">
    <input type="submit" value="Add to Cart">
  </form>
</body>

</html>
