<!DOCTYPE html>
<html lang="gr"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head}"> </head>

<body>
  <div class="container">
    <header th:replace="~{fragments/header :: header(extended=false)}"> </header>

    <main>
      <h1>Κατάστημα</h1>
      <div class="slider">
        <div class="slide slide1">
          <figure>
            <img src="/images/store1.jpg" alt="Εξωτερική Φωτογραφία Καταστήματος">
            <figcaption>Απολάυστε τη πίτα σας με θέα τα κάτω Πατήσια</figcaption>
          </figure>
        </div>
        <div class="slide slide2">
          <figure>
            <img src="/images/store2.jpg" alt="Εξωτερική Φωτογραφία Καταστήματος">
            <figcaption>Με άπλετο χώρο για να παίξουν τα παιδιά σας</figcaption>
          </figure>
        </div>
        <div class="slide slide3">
          <figure>
            <img src="/images/delivery.jpg" alt="Delivery">
            <figcaption>Με χαρά τις καθημερινές κάνουμε και delivery (πάνω από 20 πίτες στην παραγγελία)</figcaption>
          </figure>
        </div>
        <a class="previous" onclick="plusSlides(-1)">⬅</a>
        <a class="next" onclick="plusSlides(1)">➡</a>
      </div>

      <aside th:replace="~{fragments/aside :: aside}"> </aside>
    </main>

    <footer th:replace="~{fragments/footer :: footer}"></footer>
  </div>

  <script src="/js/slider.js"></script>
</body>


</html>
